<template>
  <header class="relative">
    <div class="fixed w-full z-50 bg-gray-100">
      <div
        class="h-14 lg:h-16 border-b px-4 lg:px-6 flex flex-col justify-center"
      >
        <div class="flex justify-between items-center">
          <div>
            <button
              class="outline-none focus:outline-none"
              @click="
                () =>
                  ($parent.$refs.$sidebar.show = !$parent.$refs.$sidebar.show)
              "
            >
              <svg
                viewBox="0 0 24 24"
                width="24"
                height="24"
                stroke="currentColor"
                stroke-width="2"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="block lg:hidden"
              >
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
              </svg>
            </button>
          </div>
          <div>
            <avatar username="Admin" :size="40" />
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
import Avatar from "vue-avatar";

export default {
  name: "dashboard-header",

  components: {
    Avatar,
  },

  mounted() {
    this.onWindowResizeEvent();
    window.addEventListener("resize", this.onWindowResizeEvent);
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.onWindowResizeEvent);
  },

  methods: {
    onWindowResizeEvent() {
      this.$nextTick(() => {
        const $el = $(this.$el);
        $el.height($el.children(0).height());
        $el.children(0).width($el.width());
      });
    },
  },
};
</script>