<template>
  <tbl
    url="/v1/invitations"
    :headers="['No', 'E-mail', 'Status']"
    :columns="[
      {
        data: '__index__',
      },
      {
        render: ({ user: { email } }) => email,
      },
      {
        render: ({ status: { name, display_name } }) =>
          `<span class='${
            name === 'pending' ? 'bg-gray-300' : 'bg-green-500'
          } rounded ${
            name === 'pending' ? 'text-gray-500' : 'text-white'
          } px-1.5 py-0.5 text-sm font-medium'>${display_name}</span>`,
      },
    ]"
  />
</template>