<template>
  <div>
    <aside class="absolute lg:relative lg:block z-50" v-if="show">
      <div ref="$sidebar" class="fixed h-full border-r w-full bg-gray-100">
        <div class="h-full w-full">
          <div class="px-7 h-14 lg:h-16 border-b flex justify-center flex-col">
            <a
              class="font-semibold text-3xl text-blue-400 my-auto"
              :href="route('dashboard.index')"
              v-text="'TechTest'"
            />
          </div>
          <div class="sidebar-menus">
            <div class="flex flex-col gap-8">
              <div v-for="(values, key) in menus" v-bind:key="key">
                <span
                  class="font-semibold uppercase text-sm mb-0.5 block"
                  v-text="key"
                />
                <ul class="-mx-3">
                  <li v-for="(value, key) in values" v-bind:key="key">
                    <form
                      method="POST"
                      class="w-full"
                      v-if="value.isForm"
                      :action="route(value.to)"
                    >
                      <input
                        type="hidden"
                        name="_token"
                        :value="window.csrfToken"
                      />
                      <input
                        v-if="value.formMethod.toUpperCase() !== 'POST'"
                        type="hidden"
                        name="_method"
                        :value="value.formMethod.toUpperCase()"
                      />

                      <button
                        type="submit"
                        :class="`py-2
                          w-full
                          rounded-lg
                          px-3.5
                          flex
                          gap-2.5
                          items-center hover:bg-gray-200`"
                      >
                        <div v-html="value.icon" class="text-blue-500" />
                        <span
                          class="text-gray-600 my-auto"
                          v-text="value.text"
                        />
                      </button>
                    </form>
                    <a
                      v-else
                      :href="route(value.to)"
                      :class="`py-2
                      rounded-lg
                      px-3.5
                      flex
                      gap-2.5
                      items-center hover:bg-gray-200 ${
                        value.to === currentRoute.name ? 'bg-gray-200' : ''
                      }`"
                    >
                      <div v-html="value.icon" class="text-blue-500" />
                      <span class="text-gray-600 my-auto" v-text="value.text" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <div
      @click="() => (show = !show)"
      class="fixed lg:hidden bg-black w-full h-full inset-0 bg-opacity-30 z-40"
      v-if="show"
    />
  </div>
</template>
<script>
export default {
  name: "dashboard-sidebar",

  data: () => ({
    show: window.innerWidth > 1280,
    menus: {
      main: [
        {
          icon: '<svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>',
          text: "Dashboard",
          to: "dashboard.index",
        },
        {
          icon: '<svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>',
          text: "Invitations",
          to: "dashboard.invitations.index",
        },
      ],
      settings: [
        {
          icon: '<svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>',
          text: "Logout",
          to: "logout",
          isForm: true,
          formMethod: "POST"
        },
      ],
    },
  }),

  mounted() {
    this.onWindowResizeEvent();
    window.addEventListener("resize", this.onWindowResizeEvent);
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.onWindowResizeEvent);
  },

  methods: {
    onWindowResizeEvent() {
      this.$nextTick(() => {
        if (this.$refs.$sidebar) {
          const $sidebar = $(this.$refs.$sidebar);
          const width =
            window.innerWidth /
            (window.innerWidth >= 1024
              ? 5
              : window.innerWidth >= 768
              ? 3.5
              : 2.2);
          $sidebar.width(width);
          $sidebar.parent().width(width);
          $($sidebar[0].children[0]).width(width);
        }
      });
    },
  },

  watch: {
    show(value, prevValue) {
      if (value && value !== prevValue) {
        this.$nextTick(this.onWindowResizeEvent);
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.sidebar-menus {
  @apply px-7 py-8 overflow-y-auto;
  height: calc(100% - 12%);
}
</style>