// tailwindcss
@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

// Variables
@import 'variables';

body {
    font-family: Poppins, sans-serif;
}

.hide-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    scroll-padding: 0 !important;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      visibility: hidden !important;
      display: none !important;
      height: 0 !important;
      width: 0 !important;
      scroll-padding: 0 !important;
      scrollbar-width: none !important;
    }
    &::-moz-scrollbar {
      -webkit-appearance: none;
      visibility: hidden !important;
      display: none !important;
      height: 0 !important;
      width: 0 !important;
      scroll-padding: 0 !important;
      scrollbar-width: none !important;
    }
  }