<template>
    <button class="py-2 px-5 rounded text-sm font-medium outline-none focus:outline-none hover:bg-opacity-80 focus-within:bg-opacity-90" @click="() => this.$emit('click')">
        <slot></slot>
    </button>
</template>
<script>
export default {
    name: 'btn',

    emits: ['click'],

    mounted() {
    }
}
</script>