<template>
    <div class="bg-white rounded-lg" style="box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%)">
        <div class="px-6 py-3 border-b-2" v-if="$slots.header">
            <slot name="header"/>
        </div>
        <div class="px-6 py-5 my-6" v-if="$slots.default">
            <slot></slot>
        </div>
        <div class="px-6 py-3 border-t-2" v-if="$slots.footer">
            <slot name="footer"></slot>
        </div>
    </div>
</template>
<script>
export default {
    name: 'card'
}
</script>