<template>
    <div>
        <date-input :modelValue="date_of_birth" v-bind="$attrs" @update:modelValue="value => date_of_birth = value" />
        <input type="hidden" name="date_of_birth" v-model="date_of_birth" />
    </div>
</template>
<script>
export default {
    name: 'date-of-birth-input',

    props: {
        value: {
            default: null
        }
    },

    data: ({ $props: { value } }) => ({
        date_of_birth: value,
    })
}
</script>