<template>
  <div>
    <date-picker
      v-model="date"
      :masks="{
        input: 'YYYY-MM-DD',
      }"
    >
      <template v-slot="{ inputValue, togglePopover }">
        <div v-if="label">
          <label v-text="label" />
        </div>
        <div
          :class="{
            'w-full': true,
            'rounded': true,
            'border': true,
            'border-gray-400': !errors.length,
            'border-red-600': errors.length,
            'h-full': true,
            'py-2': true,
            'px-4': true,
            'font-medium': true,
            'text-gray-400': !date,
            'text-gray-500': date,
          }"
        >
          <div
            :class="{
              'flex': true,
              'cursor-pointer': true,
              'items-center': true,
              'w-full': true,
            }"
            @click="togglePopover"
          >
            <div>
              <span v-text="inputValue || placeholder" />
            </div>
            <div
              :class="{
                'flex-1': true,
              }"
            >
              <div
                :class="{
                  'float-right': true,
                }"
              >
                <svg
                  viewBox="0 0 24 24"
                  width="22"
                  height="22"
                  stroke="currentColor"
                  stroke-width="2"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="text-gray-500"
                >
                  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                  <line x1="16" y1="2" x2="16" y2="6"></line>
                  <line x1="8" y1="2" x2="8" y2="6"></line>
                  <line x1="3" y1="10" x2="21" y2="10"></line>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div
          v-if="inputValue"
          :class="{
            '-mt-0.5': true,
            'cursor-pointer': true,
            'flex': true,
            'gap-0.5': true,
          }"
          @click="
            {
              date = null;
            }
          "
        >
          <span
            v-text="'clear'"
            :class="{
              'text-blue-500': true,
              'text-sm': true,
              'font-medium': true,
            }"
          />
        </div>
        <div
          :class="[
            'mt-0.5',
            'text-sm',
            'text-red-600',
            'font-medium',
          ]"
          v-if="hasErrors"
        >
          <span v-text="errors[0]" />
        </div>
      </template>
    </date-picker>
  </div>
</template>
<script>
require("@popperjs/core");
import { DatePicker } from "v-calendar";
export default {
  name: "DateInput",
  components: {
    DatePicker,
  },
  props: {
    modelValue: {
      default: null,
    },
    label: {
      required: false,
      type: String,
      default: () => "",
    },
    placeholder: {
      required: false,
      type: String,
      default: () => "Select date",
    },
    errors: {
      required: false,
      default: () => [],
      type: Array,
    },
  },
  emits: ["update:modelValue"],
  computed: {
    hasErrors() {
      if (this.errors == undefined) {
        return false;
      }
      return this.errors.length > 0;
    },
  },
  data: ({ $props: { modelValue } }) => ({
    date: modelValue,
  }),
  methods: {
    formatDate(date) {
      const d = new Date(date),
        year = d.getFullYear();
      let month = "" + (d.getMonth() + 1),
        day = "" + d.getDate();
      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;
      return [year, month, day].join("-");
    },
  },
  watch: {
    date(value) {
      this.$emit("update:modelValue", value ? this.formatDate(value) : null);
    },
    modelValue: {
      immediate: true,
      handler(value) {
        this.date = value;
      },
    },
  },
};
</script>