<template>
  <div>
    <slct-ajax
      ref="$select_ajax"
      :search-columns="['name']"
      :map-options="({ id, name }) => [id, name]"
      :url="'/v1/designers'"
      :label-props="{
        class: 'bg-white',
      }"
      :select-props="{ placeholder: 'Favourite Designers', class: 'bg-white' }"
      :selected="selected"
      :initials="initials"
      multiple
      v-bind="$attrs"
      @update:selected="value => selected = value"
    >
    </slct-ajax>
    <input type="hidden" name="designers[]" :value="select" v-for="(select, key) in selected" v-bind:key="key" />
    <input type="hidden" name="designers_initials" :value="stringifyInitials" v-if="objectLength(initials)" />
  </div>
</template>
<script>
import { objectLength } from '../helpers';

export default {
  name: "desginers-slct",

  props: ['value', 'options'],

  data: ({ $props: { value, options } }) => ({
    selected: value,
    initials: options,
  }),

  methods: {
    objectLength,
  },

  computed: {
    stringifyInitials() {
        return JSON.stringify(this.initials)
    }
  },

  watch: {
    selected() {
        this.initials = Object.fromEntries(Object.entries(this.$refs.$select_ajax.options).filter(entry => this.selected.indexOf(parseInt(entry[0])) >= 0));
    }
  }
};
</script>