<template>
  <div
    class="pointer-events-auto cursor-pointer max-w-max"
    v-if="show"
    @click="() => (this.show = false)"
  >
    <div
      class="py-3 bg-white rounded text-gray-600 px-5 flex items-center gap-3"
      style="box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%)"
    >
      <svg
        v-if="type === 'success'"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="text-green-600"
      >
        <polyline points="20 6 9 17 4 12"></polyline>
      </svg>
      <svg
        v-else
        viewBox="0 0 24 24"
        width="24"
        height="24"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="text-red-600"
      >
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="8" x2="12" y2="12"></line>
        <line x1="12" y1="16" x2="12.01" y2="16"></line>
      </svg>
      <span class="text-sm font-medium">{{ message }}</span>
    </div>
  </div>
</template>
<script>
export default {
  name: "flash-messages",

  props: {
    type: {
        required: true,
        type: String
    },
    message: {
        required: true,
        type: String,
    },
  },

  data: () => ({
    show: true,
  }),

  mounted() {
    setTimeout(() => {
      this.show = false;
    }, 3000);
  },
};
</script>