<template>
  <div>
    <slct
      :label-props="{
        class: 'bg-white',
      }"
      :select-props="{ placeholder: 'Gender', class: 'bg-white' }"
      :selected="selected"
      :options="{ M: 'Male', F: 'Female' }"
      @update:selected="value => selected = value"
      v-bind="$attrs"
    >
    </slct>
    <input type="hidden" name="gender" :value="selected" />
  </div>
</template>
<script>
export default {
  name: "slct-gender",

  data: ({ $attrs: { value } }) => ({
    selected: value
  }),
};
</script>