<template>
  <div
    v-show="show"
    :class="{
      fixed: true,
      'left-0': true,
      'top-0': true,
      'w-full': true,
      'min-h-full': true,
      'z-50': true,
      'overflow-x-hidden': true,
      'overflow-y-auto': true,
    }"
    @mousedown.stop="closeOnClickOutSide"
  >
    <div
      style="background: rgba(9, 30, 66, 0.54)"
      :class="{
        flex: true,
        'justify-center': true,
        'py-8': $props['with-padding-y'],
        'px-12': $props['with-padding-x'],
        'lg:px-0': true,
        'min-h-full': true,
        'min-w-full': true,
        absolute: true,
        'h-auto': true,
      }"
    >
      <div
        ref="$content"
        :class="{
          'inline-block': true,
          relative: true,
          'bg-white': true,
          rounded: $props['is-rounded'],
          'w-full': true,
          'max-w-screen-sm': $props['max-width-screen'] === 'sm',
          'max-w-screen-md': $props['max-width-screen'] === 'md',
          'max-w-screen-lg': $props['max-width-screen'] === 'lg',
          'max-w-screen-xl': $props['max-width-screen'] === 'xl',
          'max-w-screen-2xl': $props['max-width-screen'] === '2xl',
          'm-auto': true,
          'text-gray-600': true,
        }"
        style="
          width: var(--width);
          max-width: var(--width);
          -webkit-box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
          box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
        "
      >
        <div
          v-if="$slots.header"
          :class="{
            'py-4': true,
            'px-8': true,
            'text-xl': true,
            'font-medium': true,
          }"
        >
          <slot name="header" />
        </div>
        <div
          v-if="$slots.default"
          :class="{
            'px-8': true,
          }"
        >
          <slot />
        </div>
        <div
          v-if="$slots.footer"
          :class="{
            'py-5': true,
            'px-8': true,
            'h-full': true,
            'h-full': true,
          }"
        >
          <slot name="footer" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "modal",

  props: {
    'max-width-screen': {
      type: [String, Boolean],
      required: false,
      default: () => "md",
    },
    'with-padding-x': {
      type: Boolean,
      required: false,
      default: () => true,
    },
    'with-padding-y': {
      type: Boolean,
      required: false,
      default: () => true,
    },
    'is-rounded': {
      type: Boolean,
      required: false,
      default: () => true,
    },
    initshow: {
      type: Boolean,
    }
  },

  emits: ["show", "hide"],

  data: ({ $props: { initshow } }) => ({
    show: initshow || false,
    removeHiddenOverflowBody:
      !document.body.classList.contains("overflow-hidden"),
  }),

  methods: {
    closeOnClickOutSide({ target }) {
      if (this.$refs.$content.contains(target) === false) {
        this.show = false;
      }
    },

    showModal(show = true) {
        this.show = show;
    },
  },

  watch: {
    show(value) {
      this.$refs.$content.style.maxWidth = null;
      if (value) {
        if (this.style && this.style["--width"]) {
          this.$refs.$content.style.maxWidth = this.style["--width"];
        }
        this.$emit("show", this);
        document.body.classList.add("overflow-hidden");
      } else {
        this.$emit("hide", this);
        if (this.removeHiddenOverflowBody) {
          document.body.classList.remove("overflow-hidden");
          this.$el.scrollTo({
            top: 0,
          });
        }
      }
    },
  },
};
</script>
