<template>
  <div
    :class="{
      select: true,
      relative: true,
      'select-errors': hasErrors,
    }"
  >
    <div
      :class="{
        'w-full': true,
      }"
      @click="expanded = !expanded"
    >
      <slot
        name="box"
        v-bind="{
          selected,
          empty: !hasSelected(),
          expanded,
          options,
          multiple,
        }"
      >
        <div
          v-bind="{
            ...selectProps,
            select: true,
            expanded,
            empty: `${!hasSelected()}`,
          }"
          ref="$selectArea"
        >
          <div
            :class="{
              flex: true,
              'cursor-pointer': true,
              'gap-3': true,
            }"
          >
            <div
              :class="{
                flex: true,
                'flex-grow': true,
                'select-none': true,
                'whitespace-nowrap': noWrapBox,
                'overflow-x-auto': noWrapBox,
                'hide-scrollbar': noWrapBox,
                'gap-3': true,
              }"
            >
              <div
                v-if="hasSelected() && !multiple"
                v-html="optionsStack[selected]"
                :class="{
                  'text-gray-600': true,
                }"
              />
              <div
                v-else-if="hasSelected() && multiple"
                v-for="(key, i) in selected"
                :key="i"
                :class="{
                  flex: true,
                  'items-center': true,
                  rounded: true,
                  'text-sm': true,
                  'text-gray-600': true,
                  'gap-1': true,
                  'bg-gray-200': true,
                  'p-1.5': true,
                }"
              >
                <div>
                  <div
                    @click.stop="handleSelected(key)"
                    :class="{
                      'rounded-full': true,
                      'bg-gray-100': true,
                      'px-0.5': true,
                      'py-0.5': true,
                      'hover:bg-opacity-60': true,
                    }"
                  >
                    <svg
                      viewBox="0 0 24 24"
                      width="16"
                      height="16"
                      stroke="currentColor"
                      stroke-width="2"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <line x1="18" y1="6" x2="6" y2="18"></line>
                      <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                  </div>
                </div>
                <div v-html="optionsStack[key]" />
              </div>
              <span
                v-else-if="!allowEmpty"
                :class="{
                  'text-gray-400': !hasErrors && !expanded && !hasSelected(),
                  'text-red-600': hasErrors,
                }"
                v-text="`Select ${selectProps.placeholder}`"
              >
              </span>
            </div>
            <div :class="'w-1/11 flex gap-1 flex-shrink-0 items-center'">
              <loading-icon width="22" height="22" v-if="isLoading"></loading-icon>
              <svg
                viewBox="0 0 24 24"
                width="24"
                height="24"
                stroke="currentColor"
                stroke-width="2"
                fill="none"
                :class="{
                  'ml-auto': true,
                  '-mt-1': true,
                  'text-gray-500': !hasErrors,
                  'text-red-600': hasErrors,
                  'text-blue-600': !hasErrors && (expanded || hasSelected()),
                }"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline v-if="expanded" points="18 15 12 9 6 15"></polyline>
                <polyline v-else points="6 9 12 15 18 9"></polyline>
              </svg>
            </div>
          </div>
        </div>
        <label v-bind="labelProps" v-text="selectProps.placeholder || ''" />
      </slot>
    </div>
    <div
      ref="$options"
      v-show="expanded"
      :class="[
        'w-full',
        'bg-white',
        'shadow',
        'border',
        'absolute',
        'z-20',
        'text-gray-700',
        'overflow-y-auto',
      ]"
      @scroll="(e) => $emit('optionsScroll', e)"
    >
      <div :class="'border-b'">
        <input
          v-model="search"
          type="text"
          placeholder="search"
          :class="[
            'px-3',
            'py-2',
            'w-full',
            'outline-none',
            'focus:outline-none',
          ]"
        />
      </div>
      <div
        v-if="!allowEmpty"
        :class="{
          'px-3': true,
          'py-2': true,
          'cursor-pointer': true,
          'hover:bg-gray-100': true,
          'bg-gray-100': !hasSelected(),
        }"
        @click="
          {
            $emit('update:selected', multiple ? [] : '');
            expanded = false;
          }
        "
      >
        <span v-text="`Select ${selectProps.placeholder}`" />
      </div>
      <div
        :class="{
          'px-3': true,
          'py-2': true,
          'cursor-pointer': true,
          'hover:bg-gray-100': true,
          'bg-gray-100': hasSelected(key),
        }"
        v-for="(option, key) in filterOptions"
        :key="key"
        @click="handleSelected(key)"
      >
        <div
          :class="{
            block: true,
            'whitespace-nowrap': true,
            'overflow-x-auto': true,
            'hide-scrollbar': true,
          }"
          v-html="option"
        />
      </div>
    </div>
    <div v-if="!errors && description">
      <span
        :class="{
          'text-sm': true,
          'text-gray-600': true,
        }"
        v-text="description"
      />
    </div>
    <div
      :class="['mt-0.5', 'text-sm', 'text-red-600', 'font-medium']"
      v-if="hasErrors"
    >
      <span v-text="errors[0]" />
    </div>
  </div>
</template>
<script>
import { objectLength } from "../helpers";
import LoadingIcon from './LoadingIcon.vue';
export default {
  components: { LoadingIcon },
  name: "slct",
  props: {
    labelProps: Object,
    selectProps: Object,
    errors: [Array, undefined],
    multiple: {
      type: Boolean,
      default: () => false,
    },
    allowEmpty: {
      type: Boolean,
      default: () => false,
      required: false,
    },
    options: Object,
    selected: {
      required: true,
    },
    noWrapBox: {
      type: Boolean,
      required: false,
      default: () => true,
    },
    description: {
      type: String,
      required: false,
      default: () => "",
    },
    hasHandledSearch: {
      type: Boolean,
      required: false,
      default: () => false,
    },
    isLoading: {
        type: Boolean,
        required: false,
        default: () => false,
    },
  },
  emits: [
    "update:selected",
    "optionsScroll",
    "expandShow",
    "expandHide",
    "search",
  ],
  data: ({ $props: { options } }) => ({
    expanded: false,
    search: "",
    optionsStack: JSON.parse(JSON.stringify(options)),
  }),
  methods: {
    handleWindowResize() {
      this.$root.$nextTick(() => {
        const { bottom } = this.$el.getBoundingClientRect();
        const { innerHeight } = window;
        if (
          objectLength(this.options) &&
          !this.$refs.$options.hasAttribute("data-original-height")
        ) {
          this.$refs.$options.setAttribute(
            "data-original-height",
            this.$refs.$options.clientHeight
          );
        }
        if (
          this.$refs.$options.getAttribute("data-original-height") >
          innerHeight - bottom - 20
        ) {
          this.$refs.$options.style.maxHeight = `${innerHeight - bottom - 20}px`;
        }
      });
    },
    handleWindowExpanded({ target }) {
      if (!this.$el.contains(target)) {
        this.expanded = false;
      }
    },
    hasSelected(option = null) {
      if (!isNaN(option) && !isNaN(parseFloat(option))) {
        option = parseInt(option);
      }
      if (option !== null) {
        return this.multiple
          ? this.selected.indexOf(option) >= 0
          : this.selected == option;
      }
      return this.multiple ? this.selected.length > 0 : !!this.selected;
    },
    handleSelected(key) {
      if (!isNaN(key) && !isNaN(parseFloat(key))) {
        key = parseInt(key);
      }
      let selectedCopy = this.multiple ? [...this.selected] : this.selected;
      if (this.multiple) {
        const idx = selectedCopy.indexOf(key);
        if (idx < 0) {
          selectedCopy.push(key);
        } else {
          selectedCopy.splice(idx, 1);
        }
      } else {
        selectedCopy = key;
      }
      this.$emit("update:selected", selectedCopy);
      if (!this.multiple) this.expanded = false;
    },
  },
  computed: {
    hasErrors() {
      if (this.errors == undefined) {
        return false;
      }
      return this.errors.length > 0;
    },
    filterOptions() {
      if (this.hasHandledSearch) {
        return this.options;
      }

      const regex = new RegExp(`${this.search}`, "gi");
      return Object.fromEntries(
        Object.entries(this.options).filter((value) => {
          return value[0].match(regex) || value[1].match(regex);
        })
      );
    },
  },
  watch: {
    expanded(value) {
      if (value) {
        this.handleWindowResize();
        window.addEventListener("mousedown", this.handleWindowExpanded, true);
        window.addEventListener("resize", this.handleWindowResize);
        this.$nextTick(() => {
          this.$emit("expandShow", this);
          this.$refs.$options.children[0].children[0].focus();
        });
      } else {
        this.$emit("expandHide", this);
        this.search = "";
        window.removeEventListener("mousedown", this.handleWindowExpanded);
        window.removeEventListener("resize", this.handleWindowResize);
      }
    },
    search(value) {
      this.$emit("search", value);
      this.$refs.$options.style.height = null;
      this.$root.$nextTick(() => {
        this.$refs.$options.setAttribute(
          "data-original-height",
          this.$refs.$options.clientHeight
        );
        this.handleWindowResize();
      });
    },
    options(value) {
        this.optionsStack = {...(JSON.parse(JSON.stringify(this.optionsStack))), ...(JSON.parse(JSON.stringify(value)))}
    }
  },
  beforeUnmount() {
    window.removeEventListener("mousedown", this.handleWindowExpanded);
    window.removeEventListener("resize", this.handleWindowResize);
  },
};
</script>
<style lang="scss" scoped>
.select {
  @apply relative w-full bg-white;
  &.select-errors {
    [select] {
      @apply border-red-600 text-red-600 text-base;
      &::placeholder {
        @apply text-red-600 text-base;
      }
      &:not(:placeholder-shown),
      &:focus {
        @apply border border-red-600;
        & ~ svg {
          @apply text-red-600;
        }
      }
    }
    label {
      @apply text-red-600;
    }
  }
  [select] {
    @apply bg-transparent px-3 pt-3 pb-1 border border-gray-500 rounded focus:outline-none outline-none w-full text-gray-600 text-base;
    &:disabled {
      @apply cursor-not-allowed border-gray-500;
      & ~ label {
        @apply text-gray-500;
      }
    }
    &::placeholder {
      @apply text-gray-500 text-base;
    }
  }
  label {
    @apply absolute left-2 -top-2 px-1.5 text-gray-500 text-sm;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    opacity: 1;
  }
  &:not(.select-errors) {
    [select] {
      &[expanded="true"],
      &[empty="false"] {
        @apply border-2 border-blue-600;
        & ~ label {
          @apply text-blue-600;
        }
      }
    }
  }
}
</style>