<template>
  <slct
    ref="$select"
    :description="description"
    :no-wrap-box="noWrapBox"
    :multiple="multiple"
    :errors="errors"
    :has-handled-search="true"
    :selected="selectedValue"
    @optionsScroll="selectScrollEvent"
    :options="getOptions"
    @expandShow="selectExpandShowEvent"
    @search="selectSearchEvent"
    :select-props="selectProps"
    :allow-empty="allowEmpty"
    :label-props="labelProps"
    :is-loading="isLoading"
    @update:selected="
      (value) => {
        selected = value;
        this.emit('update:selected', selected);
      }
    "
  >
    <template #box="args" v-if="$slots.box">
      <slot name="box" v-bind="args" />
    </template>
  </slct>
</template>
<script>
import api from "../api";
import { objectLength } from "../helpers";
export default {
  name: "slct-ajax",
  props: {
    initials: {
      type: Object,
      required: false,
    },
    description: {
      type: String,
      required: false,
      default: () => "",
    },
    allowEmpty: {
      type: Boolean,
      default: () => false,
      required: false,
    },
    url: {
      type: String,
      required: true,
    },
    searchColumns: {
      type: Array,
      required: true,
    },
    errors: {
      type: [Array, undefined],
      required: false,
    },
    selected: {
      required: true,
    },
    noWrapBox: {
      type: Boolean,
      required: false,
      default: () => true,
    },
    multiple: {
      type: Boolean,
      required: false,
      default: () => false,
    },
    render: {
      type: Function,
      required: false,
    },
    perPage: {
      type: Number,
      required: false,
      default: () => 10,
    },
    mapOptions: {
      type: Function,
      required: true,
    },
    labelProps: Object,
    selectProps: Object,
  },
  emits: ["update:selected"],
  data: ({ $props: { selected } }) => ({
    options: {},
    search: "",
    response: null,
    selectedValue: selected,
    observers: [],
    optionsSearch: {},
    isLoading: false,
  }),

  methods: {
    selectSearchEvent(value) {
      this.search = value;
      this.$nextTick(this.fetchOptions);
    },
    async fetchOptions() {
      if (
        !this.response ||
        this.response.current_page < this.response.last_page
      ) {
        let url = new URL(this.url, this.window.baseUrl);
        url.searchParams.set("paginate", true);
        url.searchParams.set("perPage", this.perPage);
        url.searchParams.set(
          "page",
          this.response ? this.response.current_page + 1 : 1
        );

        if (this.search) {
          
          const columns = this.searchColumns
            .map((value) => ({
              [value]: this.search,
            }))
            .flat();

          let values = {};

          for (const [_, column] of Object.entries(columns)) {
            values = { ...values, ...column };
          }

          url.searchParams.set(
            "search",
            JSON.stringify(values)
          );

        }

        this.isLoading = true;

        const response = await api
          .get(`${url.pathname}?${url.searchParams}`)
          .catch(() => null);

        console.log(this.response);
        
        this.isLoading = false;

        if (response) {
          const mappedOptions = Object.fromEntries(
            response.data.data.data.map(this.mapOptions)
          );

          this.response = response.data.data;

          this.optionsSearch[this.search] = {
            ...(JSON.parse(JSON.stringify(this.optionsSearch[this.search] || {}))),
            ...JSON.parse(JSON.stringify(mappedOptions)),
          };

          this.options = this.optionsSearch[this.search];
        }
      }
    },
    selectExpandShowEvent($select) {
      if (!objectLength(this.options)) {
        this.fetchOptions().then(() => {
          $select.$refs.$options.removeAttribute("data-original-height");
          $select.handleWindowResize();
        });
      }
    },
    selectScrollEvent({ target }) {
      const element = target.children[target.children.length - 1];

      const observer = new IntersectionObserver((entries, self) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            this.$nextTick(this.fetchOptions);
            self.disconnect();
          }
        });
      });

      observer.observe(element);

      this.observers.push({
        element,
        observer,
      });
    },

    hasSelected(option = null) {
      if (!isNaN(option) && !isNaN(parseFloat(option))) {
        option = parseInt(option);
      }
      if (option !== null) {
        return this.multiple
          ? this.selected.indexOf(option) >= 0
          : this.selected == option;
      }
      return this.multiple ? this.selected.length > 0 : !!this.selected;
    },
  },
  beforeUnmount() {
    this.observers.forEach(({ observer }) => observer.disconnect());
  },
  computed: {
    getOptions() {
      if (
        !objectLength(this.options) &&
        this.hasSelected() &&
        objectLength(this.initials)
      ) {
        return this.initials;
      }
      if (this.render) {
        return this["render"](this.options);
      }
      return this.options;
    },
  },
  watch: {
    selectedValue(value) {
      this.$nextTick(() => this.$emit("update:selected", value));
    },
    selected(value) {
      this.$nextTick(() => {
        if (JSON.stringify(this.selectedValue) !== JSON.stringify(value)) {
          this.selectedValue = value;
        }
      });
    },
    search() {
      this.response = null;
    },
  },
};
</script>