<template>
  <div
    :class="{
      'flex': true,
      'flex-col': true,
    }"
  >
    <div
      :class="{
        'flex': true,
        'flex-nowrap': true,
        'items-center': true,
      }"
    >
      <div
        v-if="$slots.header"
        :class="{
          'w-1/2': true,
        }"
      >
        <div :class="'float-right'">
          <slot name="header" />
        </div>
      </div>
    </div>
    <div
      :class="{
        'overflow-x-auto': true,
        'mt-5': true,
      }"
    >
      <div
        :class="{
          'align-middle': true,
          'inline-block': true,
          'min-w-full': true,
        }"
      >
        <div
          :class="{
            'overflow-hidden': true,
            'border-b': true,
            'border-gray-200': true,
            'sm:rounded-lg': true,
          }"
        >
          <table
            :class="{
              'min-w-full': true,
              'divide-y': true,
              'divide-gray-200': true,
            }"
          >
            <thead
              :class="{
                'bg-gray-100': true,
              }"
            >
              <tr>
                <th
                  scope="col"
                  :class="{
                    'px-6': true,
                    'py-3': true,
                    'text-left': true,
                    'text-xs': true,
                    'font-medium': true,
                    'text-gray-500': true,
                    'uppercase': true,
                    'tracking-wider': true,
                  }"
                  v-for="(header, i) in headers"
                  :key="i"
                  v-html="header"
                />
              </tr>
            </thead>
            <tbody
              :class="{
                'bg-white': true,
                'divide-y': true,
                'divide-gray-200': true,
              }"
            >
              <tr v-for="(data, x) in response ? response.data : []" :key="x" :class="{
                'hover:bg-gray-50': true,
              }">
                <td
                  v-for="(_, y) in headers"
                  :key="y"
                  :class="{
                    'px-6': true,
                    'py-4': true,
                    'whitespace-nowrap': true,
                    'text-gray-500': true,
                  }"
                  v-html="renderColumn(data, x, y)"
                />
              </tr>
              <tr v-if="fetch">
                <td
                  :colspan="headers.length"
                  :class="{
                    'text-center': true,
                    'px-6': true,
                    'py-4': true,
                    'whitespace-nowrap': true,
                    'text-gray-500': true,
                  }"
                  v-text="'Loading...'"
                />
              </tr>
              <tr v-if="!fetch && (!response || !response.data.length)">
                <td
                  :colspan="headers.length"
                  :class="{
                    'text-center': true,
                    'px-6': true,
                    'py-4': true,
                    'whitespace-nowrap': true,
                    'text-gray-500': true,
                  }"
                  v-text="'No data available'"
                />
              </tr>
            </tbody>
          </table>
        </div>
        <div
          v-if="response"
          :class="{
            'mt-6': true,
          }"
        >
          <div :class="{
            'float-right': true,
          }">
            <button
              @click="() => {
                if ((response.current_page - 1) > 0) {
                  load(searchInput, response.current_page - 1)
                }
              }"
              :class="{
                'p-1.5': true,
                'text-sm': true,
                'font-medium': true,
                'bg-gray-200': (response.current_page - 1) > 0,
                'bg-gray-100': !(response.current_page - 1) > 0,
                'rounded': true,
                'text-gray-500': (response.current_page - 1) > 0,
                'text-gray-400': !(response.current_page - 1) > 0,
                'outline-none': true,
                'focus:outline-none': true,
                'cursor-not-allowed': !((response.current_page - 1) > 0),
                'rounded-full': true,
              }"
            >
              <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="15 18 9 12 15 6"></polyline></svg>
            </button>
            <button
              @click="() => {
                if (response.current_page < response.last_page) {
                  load(searchInput, response.current_page + 1)
                }
              }"
              :class="{
                'p-1.5': true,
                'rounded-full': true,
                'ml-1': true,
                'text-sm': true,
                'font-medium': true,
                'bg-gray-200': (response.current_page < response.last_page),
                'bg-gray-100': !(response.current_page < response.last_page),
                'rounded': true,
                'text-gray-500': (response.current_page < response.last_page),
                'text-gray-400': !(response.current_page < response.last_page),
                'outline-none': true,
                'focus:outline-none': true,
                'cursor-not-allowed': !(response.current_page < response.last_page)
              }"
            >
              <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import api from "../api";
export default {
  name: "tbl",
  data: () => ({
    response: null,
    searchInput: "",
    fetch: false,
  }),
  props: {
    url: String,
    headers: Array,
    columns: Array,
    search: Array,
    perPage: {
      type: Number,
      required: false,
      default: () => 10,
    },
  },
  emits: ['rendered'],
  methods: {
    renderColumn(value, row, column) {
      if (typeof this.columns[column] != "object") {
        throw new Error("The column must be an object type.");
      }
      const { data, render } = this.columns[column];
      if (render) {
        if (data) {
          return render(
            data === "__index__" ? row + 1 : value[data],
            value,
            row,
            column
          );
        }
        return render(value, row, column);
      }
      if (data === "__index__") {
        return row + 1;
      }
      return value[data] || "";
    },
    async load(search = "", page = 1) {
      if (!this.fetch) {
        this.fetch = true;
        let url = new URL(this.url, window.baseUrl);
        url.searchParams.set("paginate", true);
        url.searchParams.set("perPage", this.perPage);
        url.searchParams.set("page", page);
        url.searchParams.set("api_token", localStorage.authToken);
        if (search) {
          //
        }
        url = `${url.pathname}?${url.searchParams}`;
        console.log(url);
        const response = await api.get(url).catch(() => null);
        this.fetch = false;
        if (response) {
          this.response = response.data.data;
          await this.$nextTick(() => this.$emit('rendered', this));
        }
      }
    },
  },
  mounted() {
    this.load();
  },
};
</script>