<template>
  <div :class="{
    'input-text': true,
    'input-text-errors': hasErrors,
  }">
    <input v-bind="{type: 'text', value, ...inputProps}" @input="({ target: { value } }) => $emit('update:value', value)" />
    <label v-bind="labelProps" v-text="$attrs.placeholder" />
    <div
      v-if="!errors && description"
    >
      <span
        :class="{
          'text-gray-600': true,
          'text-sm': true,
        }"
        v-text="description"
      />
    </div>
    <div :class="[
      'mt-0.5',
      'text-sm',
      'text-red-600',
      'font-medium'
    ]" v-if="hasErrors">
      <span v-text="errors[0]" />
    </div>
  </div>
</template>
<script>
export default {
  name: "text-input",

  props: {
    labelProps: Object,
    inputProps: Object,
    errors: [Array, undefined],
    value: {
      type: String,
      required: false,
      default: () => "",
    },
    description: {
      type: String,
      required: false,
      default: () => ''
    }
  },
  emits: ['update:value'],
  computed: {
    hasErrors() {
      if (this.errors == undefined) {
        return false;
      }
      return this.errors.length > 0;
    }
  }
};
</script>
<style lang="scss" scoped>
.input-text {
  @apply relative w-full;
  &.input-text-errors {
    input {
      @apply border-red-600 text-red-600 text-base;
      &::placeholder {
        @apply text-red-600 text-base;
      }
      &:not(:placeholder-shown),
      &:focus {
        @apply border-2 border-red-600;
        & ~ svg {
          @apply text-red-600;
        }
      }
    }
    label {
      @apply text-red-600;
    }
  }
  input {
    @apply bg-transparent px-3 py-2 border border-gray-400 rounded focus:outline-none outline-none w-full text-gray-600 text-base;
    &:disabled {
      @apply cursor-not-allowed border-gray-400;
      & ~ label {
        @apply text-gray-500;
      }
    }
    &::placeholder {
      @apply text-gray-400 text-base;
    }
    &:not(:placeholder-shown),
    &:focus {
      @apply border-2 border-blue-600 pt-3 pb-1;
      &:disabled {
        @apply border-gray-400;
      }
      &::placeholder {
        @apply opacity-0;
      }
      & ~ label {
        opacity: 1;
      }
    }
  }
  label {
    @apply absolute left-2 -top-2 px-1.5 text-blue-600 text-sm bg-white;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    opacity: 0;
  }
}
</style>